name: CI_tests
on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: 3.16.x
        channel: stable
        cache: true
         
    - name: Get flutter dependencies
      run: flutter pub get
      working-directory: Space_Mapper
    
    - name: Statically analyze the Dart code for any errors.
      run: flutter analyze --no-fatal-infos
      working-directory: Space_Mapper
    
    - name: Run tests with coverage
      run: flutter test --coverage
      working-directory: Space_Mapper
      
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v4
      with:
        file: Space_Mapper/coverage/lcov.info
