name: CI_tests
on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - uses: subosito/flutter-action@v2
      with:
          channel: 'stable'
         
    - name: Get flutter dependencies
      run: flutter pub get
      working-directory: Space_Mapper
    
    - name: Statically analyze the Dart code for any errors.
      run: flutter analyze
      working-directory: Space_Mapper
    
    - name: Run tests for our flutter project.
      run: flutter test
      working-directory: Space_Mapper
      
    - name: Run tests
      run: flutter test --coverage
      working-directory: Space_Mapper
      
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v4
      with:
        file: Space_Mapper/coverage/lcov.info
