name: CI_tests
on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: 3.19.1
        cache: true

    - name: Show Flutter version
      run: flutter --version
         
    - name: Get flutter dependencies
      run: flutter pub get
      working-directory: Space_Mapper
    
    - name: Statically analyze the Dart code for any errors.
      run: flutter analyze --no-fatal-infos
      working-directory: Space_Mapper
    
    - name: Run tests with coverage
      run: |
        set -o pipefail
        flutter test --coverage 2>&1 | grep -Ev '(HTTP request failed, statusCode: 400|Error fetching projects: Bad state: databaseFactory not initialized|databaseFactory is only initialized when using sqflite|You must call .*databaseFactoryFfi.*global openDatabase API|ping number 1|project rouite ping|^brown$)'
      working-directory: Space_Mapper
      
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v4
      with:
        file: Space_Mapper/coverage/lcov.info
